.ChatBox {
  background-color: var(--background-card);
  color: var(--color-white);
  display: flex;
  flex-direction: column;

  position: absolute;
  left: 0;
  right: 0;
  top: 3rem;
  margin: auto;
  border-radius: 1rem;
  max-width: 70%;
  padding: 2rem 4rem;
  text-align: start;

  .TypeTitle {
    font-size: 2rem;
  }

  .TypeText {
    font-size: 1rem;
  }

  @media (max-width: 900px) {
    max-width: 90%;
    top: inherit;
    bottom: 2rem;
    padding: 1rem 2rem;

    .TypeTitle {
      font-size: 1.5rem;
      margin-bottom: .5rem;
    }
  
    .TypeText {
      font-size: .8rem;
    }
  }

  button {
    margin-top: 2rem;
    background-color: var(--background-card-button);
    color: var(--color-white);
    padding: 1rem 0;
    font-weight: bold;
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
    transition: .2s ease;

    @media (max-width: 500px) {
      margin-top: .5rem;
      padding: .7rem 0;
      
    }

    &:hover {
      background-color: var(--background-card-button-hover);
    }
  }
}