// Backgrounds

.Sobre {
  background-image: url('../assets/background-sobre.webp');
}

.Stacks {
  background-image: url('../assets/background-stacks.gif');
}

.Estudos {
  // background-image: url('../assets/background-sobre.webp');
}


.Content {
  width: 100%;
  height: 90vh;
  position: relative;
}