// Backgrounds

.Sobre {
  background-image: url('../assets/background-sobre.webp');
  background-position: 20%;
}

.Stacks {
  background-image: url('../assets/background-stacks.gif');
  background-position: 40%;
}

.Estudos {
  background-image: url('../assets/Gamer Room_ Cyberpunk, ExceptRea.gif');
  background-position: 40%;
}

.Experiencia {
  background-image: url('../assets/dws.gif');
}


.Content {
  width: 100%;
  height: 90vh;
  position: relative;
}